<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTYE7_TzixGQ8oO-_mVl6_L77cyd83GsI</string>
	<key>GCM_SENDER_ID</key>
	<string>526267361991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emartSeller</string>
	<key>PROJECT_ID</key>
	<string>emart-b30ae</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-b30ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526267361991:ios:0ccc6e4a1f5dc4f27f2ce2</string>
</dict>
</plist>